<%= link_to 'New Post Definition', new_post_definition_path, { class: 'btn btn-info btn-fill', style: 'float: right;'}%>
<div class="container-fluid">
  <h3>List Post Definitions</h3>

  <div class="content table-responsive table-full-width">
      <table class="table table-hover">
        <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.name %></td>
                <td style="text-align: right;">
                  <%= link_to "Edit", edit_post_definition_path(post),
                                class: 'btn btn-secondary btn-sm'%>
                  <%= link_to "Delete", post_definition_path(post),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-secondary btn-sm'%>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
  </div>
</div>
