.required-field-icons {
  .fa-check {
    color: green;
  }
  .fa-times {
    color: red;
  }
}

#upload-image-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-image {
  display: block;
  border-radius: 3px;
  max-width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  &.loaded {
    border: 1px solid #ccc;
  }
}

.remove-picture-block {
  color: red;
}
