<%= link_to 'Back', post_definitions_path, { class: 'btn btn-secondary', style: 'margin-bottom: 30px'} %>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @post.created_at %>
</p>

<p>
  <strong>Fields:</strong> { }
</p>