<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">
          Update for <%= Cms9::PostDefinition.find(@post.post_definition_id).name %>
        </h3>
      </div>
      <div class="box-body">
        <%= render 'post_form' %>
      </div>
    </div>
  </div>
</div>  
