<%= link_to 'Back', post_definitions_path, { class: 'btn btn-info btn-fill', style: 'float: right;'} %>

<div class="container-fluid">
  <h3>Create for
    <%= params[:type] %>
  </h3>

  <%= render 'post_form' %>
</div>
