<div class="multi-block col-md-12" style="padding: 0;">
  <div class="col-md-10" style="padding: 0;">
    <%= text_field_tag 'multi_values[]', nil, { class: 'form-control', style: 'margin-bottom: 10px;' }%>
  </div>
</div>
