<%= link_to 'Back', edit_post_definition_path(@post.post_definition_id), { class: 'btn btn-secondary', style: 'margin-bottom: 30px'} %>
<hr/>

<h3>Update Field for <%= @post.post_definition.name %></h3>

<%= render 'field_form' %>