<!DOCTYPE html>
<html>
  <head>
    <title>Cms9</title>
    <%= stylesheet_link_tag "cms9/application", media: "all" %>
    <%= javascript_include_tag "cms9/application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/cms9/_parts/navigation' %>
  </body>
</html>
