<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">
          Add Field for <%= @field.post_definition.name %>
        </h3>
      </div>
      <div class="box-body">
        <%= render 'field_form', { edit: false } %>
      </div>
    </div>
  </div>
</div>
