<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">
          Welcome
        </h3>
      </div>
      <div class="box-body">
        <p>Welcome to CMS9 dashboard. Create your first Post definition ...</p>

      </div>
    </div>
  </div>
</div>  
